.App {
  text-align: center;
}

.mydiv{
  display: flex;
  justify-content: space-around;
  margin: 10px 7%;
  box-shadow: 1px 1px 5px gray;
  padding: 10px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.item{
  width: 30%;
  margin: 5px;
}
#btn{
  cursor: pointer;
  width: 66px;
  height: 36px;
  font-size: 20px;
  color: rgb(138, 31, 238);
  border-radius: 8px;
}
#gg{
  font-size: 20px;
  color: rgb(101, 170, 101);
}